.recent-papers-rule {
  border: var(--nyt-secondary-background-color) solid 0.25rem;
  margin-top: 5.375rem;
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}

.aside {
  padding: 2.25rem 0;
}

@media (min-width: 769px) {
  .aside {
    padding: 0 0 3.5rem;
    max-width: 47rem;
  }
}
