.snippet {
  margin: 3rem 0;
}

.h3 {
  font-weight: 700;
  font-size: var(--nyt-sans-serif-extra-large);
  color: var(--nyt-secondary-heading-text-color);
}

.p {
  font-size: var(--nyte-serif-small);
  color: var(--nyt-body-text-color);
}

.link {
  display: flex;
  width: max-content;
  font-weight: 600;
  font-size: var(--nyt-sans-serif-small);
  color: var(--nyt-body-text-color);
  text-decoration: none;
}

.link:hover > svg {
  transform: translateX(1rem);
}

.arrow {
  margin-top: 0.125rem;
  height: 1rem;
  width: 2rem;
  transition: transform 0.3s ease-out;
}
