.footer {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 0 2rem 2rem 2rem;
  font-family: "Public Sans";
  background-color: #ffebed;
  color: #490606;
}

.h2 {
  font-weight: 700;
  text-align: center;
  color: #490606;
}

.link {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding-left: 1rem;
  border-left: solid 1px red;
}

.issue-info {
  padding-top: 1rem;
}

@media (min-width: 769px) {
  .link {
    flex-direction: row;
  }

  .img {
    max-height: 150px;
  }
}

@media (min-width: 1024px) {
  .footer {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .issue-info {
    padding-top: 0;
    padding-left: 1rem;
  }
}
